@import "bootstrap-sprockets";
@import "bootstrap";

body{
    padding: 0px;
}


nav ul li{
    padding-right: 10px;
    font-size: 17px;
}

nav form{
    align-self: center;
    .form-control{
        font-size: 15px;
    }
    .btn-success{
        font-size: 15px;
    }
}

nav{
    justify-content: center;
}

.google_login{
    width: 150px;
}

.spotifyLogin{
    width: 150px;
    border:solid;
    border-color:rgb(30, 215, 96);
    border-radius:7px;
}

.sign_in_buttons{
    margin-left: -50px;
}
