<h1>Editing Administrator Password</h1>

<%= render 'form', administrator_password: @administrator_password %>

<%= link_to 'Show', @administrator_password %> |
<%= link_to 'Back', administrator_passwords_path %>
