<div class="text_container">
<h1>Benvenuto su Spotiforum!</h1>

<% if(user_signed_in?) %>

	<%= current_user.name %>
	<%= link_to 'sign_out', '/users/sign_out', :method=>:delete %>
	
	<%= link_to 'Area Personale', user_path(current_user.id) %>
	
	<%= link_to 'Profilo', '/profiles/home' %>
<% end %>

<h2>Visita la sezione Community per conoscere l'opinione degli altri utenti su argomenti musicali di tendenza.</h2>

<a class="btn btn-primary" href="pages/community" role="button">Visita la Community</a>

<h2>Non sei registrato? Effettua il log in per poter godere di tutti i vantaggi del nostro sito.
Potrai pubblicare post, commentare e mettere like.</h2>

<a class="btn btn-primary" href="users/sign_up" role="button">Registrati</a>
</div>



