<p id="notice"><%= notice %></p>

<h1 style="font-size: 30px; margin-left: -40px">Lista utenti</h1>

<div class="user-table">
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= button_to "Profilo utente", profile_home_path, method: :post, params: {id: user[:id]}, class: "profile-btn"%> </td>

      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>
